---
permalink: /ru/feed.xml
eleventyExcludeFromCollections: true
metadata:
  title: Pchelovod — Русский блог
  language: ru
  description: Заметки о таджикском мёде и пчеловодстве.
---

<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.description }}</subtitle>
  <link href="{{ site.url }}{{ page.url }}" rel="self" />
  <link href="{{ site.url }}/ru/" />
  <updated>{{ collections.postsRu | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ site.url }}/ru/</id>
  {% for post in collections.postsRu | reverse %}
    <entry>
      <title>{{ post.data.title }}</title>
      <link href="{{ site.url }}{{ post.url }}" />
      <updated>{{ post.data.publishDate | dateToRfc3339 }}</updated>
      <id>{{ site.url }}{{ post.url }}</id>
      <summary>{{ post.data.description }}</summary>
    </entry>
  {% endfor %}
</feed>
