{
  "printWidth": 100,
  "singleQuote": false,
  "trailingComma": "all",
  "plugins": ["prettier-plugin-jinja-template", "prettier-plugin-tailwindcss"],
  "overrides": [{ "files": ["*.njk"], "options": { "parser": "jinja-template" } }]
}
