---
title: Блог
description: Навиштаҳо дар бораи асали тоҷикӣ ва табиати Помир.
permalink: /tg/blog/
layout: layouts/page.njk
eleventyExcludeFromCollections: true
---
<h1>{{ title }}</h1>
<ul class="post-list">
  {% for post in collections.postsTg | reverse %}
    <li>
      <a href="{{ post.url }}">{{ post.data.title }}</a>
      <time datetime="{{ post.data.publishDate | date('yyyy-MM-dd') }}">{{ post.data.publishDate | date('yyyy-MM-dd') }}</time>
      <p>{{ post.data.description }}</p>
    </li>
  {% endfor %}
</ul>
