<!doctype html>
<html lang="{{ locale or 'en' }}">
  <head>
    {% include "partials/head.njk" %}
  </head>
  <body>
    {% include "partials/header.njk" %}
    <main id="main">
      {{ content | safe }}
    </main>
    {% include "partials/footer.njk" %}
  </body>
</html>
