<!doctype html>
<html lang="{{ locale or 'en' }}">
  <head>
    {% include "partials/head.njk" %}
  </head>
  <body>
    {% include "partials/header.njk" %}
    <main id="main">
      <div class="container">{{ content | safe }}</div>
    </main>
    {% include "partials/footer.njk" %}
    {% include "partials/jsonld-organization.njk" %}
    {% include "partials/jsonld-localbusiness.njk" %}
  </body>
</html>
