<!doctype html>
<html lang="{{ locale or 'en' }}">
  <head>
    {% include "partials/head.njk" %}
  </head>
  <body class="page-landing">
    {% include "partials/header.njk" %}
    <main id="main">{{ content | safe }}</main>
    {% include "partials/footer.njk" %}
    {% include "partials/jsonld-organization.njk" %}
    {% include "partials/jsonld-localbusiness.njk" %}
    <script src="/assets/js/main.js" defer></script>
  </body>
</html>
