<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ title | dump | safe }},
  "description": {{ description | dump | safe }},
  "inLanguage": {{ locale | dump | safe }},
  "datePublished": "{{ publishDate | date('yyyy-MM-dd') }}",
  {% if updatedDate %}"dateModified": "{{ updatedDate | date('yyyy-MM-dd') }}",{% endif %}
  "author": { "@type": "Person", "name": {{ (author or site.author) | dump | safe }} },
  "publisher": {
    "@type": "Organization",
    "@id": {{ (site.url + "/#organization") | dump | safe }},
    "name": {{ site.name | dump | safe }},
    "logo": { "@type": "ImageObject", "url": {{ (site.url + "/favicon.svg") | dump | safe }} }
  },
  {% if heroImage %}"image": {{ (site.url + heroImage) | dump | safe }},{% endif %}
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ (site.url + page.url) | dump | safe }}
  }
}
</script>
